
* {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}
body {
    background-color: hsl(185, 75%, 39%);
}
.encompassing {
    position: relative;
}
.top {
    
    top: 5%;
    left: -30%;
}
.bottom {
    position: absolute;
    left: 90%;
    bottom: 10%;
}

.card {
    position: absolute;
    top: 50%;
    left: auto;
    border: 5px solid white;
}
