
* {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: hsl(185, 75%, 39%);
}

.top {
    position: absolute;
    top: -40%;
    left: -30%;
}
.bottom {
    position: absolute;
    left: 90%;
    bottom: -20%;
}

.card {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
}
